@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url('../SFPRODISPLAYBOLD.OTF') format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte-padrao: 'SFPRODISPLAYBOLD', Arial; 
    --fonte-destaque: "Montserrat", Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao), sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-weight: 800;
    color: black;
}

.btn-add {
    background-color: #6a1b9a;
    font-family: var(--fonte-destaque);
    font-weight: 600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn-add:hover {
    background-color: #4a148c;
}

.search-container {
    text-align: right;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-table thead {
    background-color: #8A24D4;
    color: white;
}

.product-table thead th {
    padding: 12px 15px;
    border-radius: 10px 10px 0 0; /* Bordas arredondadas para o cabeçalho */
}

.product-table tbody tr {
    border-bottom: 1px solid #ddd; /* Linha separando cada linha da tabela */
}

.product-table tbody tr:hover {
    background-color: #e0e0e0;
}

.product-table tbody td {
    padding: 10px 15px;
    border: 1px solid #ddd; /* Borda entre células para destacar as linhas */
}

.product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tbody td:last-child {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.product-table tbody td i {
    cursor: pointer;
    font-size: 18px;
}

.product-table tbody td .edit-icon {
    color: #1976d2;
}

.product-table tbody td .delete-icon {
    color: #d32f2f;
}

#productForm {
    margin-top: 20px;
}

.top-bar {
    width: 100%;
    background-color: var(--top-bar-bg-color);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#toggle-theme {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.settings-icon {
    font-size: 24px;
    cursor: pointer;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

button:hover {
    opacity: 0.9;
}



/* penis */
.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px; 
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

label.pesquisa {
    display: flex;
    margin-left: 25px;
}

/* Estilo dos rótulos e campos */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box; 
}

h2 {
    font-family: var(--fonte-destaque);
    font-weight: 800;
    padding-bottom: 15px;
}

button {
    background-color: #8A24D4; 
    color: white;
    font-family: var(--fonte-destaque);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #671a9e; /* Cor de fundo verde mais escuro */
}

button.cancel {
    background-color: #f44336; /* Cor de fundo vermelha */
}

button.cancel:hover {
    background-color: #e53935; /* Cor de fundo vermelha mais escura */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #f0f0f0;
    --button-bg-color: #bb86fc;
    --button-hover-bg-color: #9a68df;
    --dashboard-bg-color: #333;
    --top-bar-bg-color: #8A24D4;
    --fonte-padrao: 'SFPRODISPLAYBOLD', Arial; 
}


/*escuro  */
:root {
    --bg-color: #f0f2f5;
    --text-color: #333;
    --button-bg-color: #8A24D4;
    --button-hover-bg-color: #8A24D4;
    --dashboard-bg-color: white;
    --top-bar-bg-color: #8A24D4;
    --fonte-padrao: 'SFPRODISPLAYBOLD', Arial; 
}
