@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --fonte-padrao: 'Sora', sans-serif;
}

body {
    font-family: var(--fonte-padrao), sans-serif;
    background: url('../background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    transition: background-position 0.1s ease; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    width: 100%;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
}

.password-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-container label {
    margin-left: 5px;
}

.login-container button {
    width: 100%;
    padding: 20px;
    margin-top: 120px;
    background-color: #700045;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.login-container button:hover {
    background-color: #47001e;
}
